<mat-toolbar class="toolbar" color="primary" fxLayoutAlign="center center" fxLayoutGap="40px">
    <span class="nav-links animate__animated animate__bounce" [class.active]="currentSection=='section1'"
        (click)="scrollTo('section1')">Home</span>
    <span class="nav-links" [class.active]="currentSection=='team'" (click)="scrollTo('team')">About Epic</span>
    <span><img src="assets/Logo.png" class="logo" alt="Logo"></span>
    <span class="nav-links" [class.active]="currentSection=='section4'" (click)="scrollTo('section4')">Facitiles</span>
    <span class="nav-links" [class.active]="currentSection=='section3'" (click)="scrollTo('section3')">Gallery</span>
    <span class="nav-links" [class.active]="currentSection=='contact'" (click)="scrollTo('contact')">Contact</span>
</mat-toolbar>


<div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)"
    style="height:100vh;overflow-y: scroll;">
    <section id="section1" style="margin-top:100px;">
        <div class="container">
            <carousel [slides]="slides" [animationType]="animationType"></carousel>
        </div>
    </section>

    <section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="15px" id="team" fxLayoutAlign="center center">

        <div fxFlex=50 fxLayoutAlign="center center" fxLayout="column">
            <img src="assets/brand.PNG" height="150px">
            <img src="assets/Logo.png" height="150px">

        </div>
        <div fxFlex fxLayout="column" fxLayoutAlign="center" fxLayoutAlign.lt-md="center center" fxLayoutGap="30px">
            <h1 fxFlexOffset="5" class="title"> ABOUT EPIC</h1>
            <h2>MISSION & VISION</h2>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dolor id enim lacinia, sed
                feugiat
                ex suscipit. Nunc molestie malesuada pellentesque. Quisque mattis ante ut nisl tristique ornare. Aenean
                interdum dictum augue, quis egestas erat lacinia in. Proin dictum commodo nulla ut mattis. Pellentesque
                vel
                commodo nisi. Donec eget purus eget ex efficitur tristique. Nulla ut mollis justo.

                Nam turpis nulla, ullamcorper volutpat faucibus ut, facilisis in elit. Nam blandit diam vel felis porta,
                vitae congue nulla feugiat. Vestibulum rhoncus odio elit, at aliquet sem posuere vel.
            </span>
        </div>

    </section>

    <!-- <section fxLayout="column" fxLayoutGap="20px"  fxLayoutAlign="start center">
    <span fxLayout="column" fxFlexOffset="5" fxLayoutAlign="center center">
        <span class="title">
            Meet The Team
        </span>
        <span class="sub-title">
            Behind EPIC
        </span>
    </span>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-card *ngFor="let mem of members|slice:0:3" fxFlex=25 class="mat-elevation-z8">
            <div class="img-hover-zoom">
                <img [src]="mem.img" height="200px" width="100%">
            </div>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <span class="mem-title" fxFlexOffset="5">{{mem.name}}</span>
                <span class="mem-role">{{mem.role}}</span>
                <span></span>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-card *ngFor="let mem of members|slice:3:6" fxFlex=25 class="mat-elevation-z8">
            <div class="img-hover-zoom">
                <img [src]="mem.img" height="200px" width="100%">
            </div>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <span class="mem-title" fxFlexOffset="5">{{mem.name}}</span>
                <span class="mem-role">{{mem.role}}</span>
                <span></span>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
        <mat-card *ngFor="let mem of members|slice:6:9" fxFlex=25 class="mat-elevation-z8">
            <div class="img-hover-zoom">
                <img [src]="mem.img" height="200px" width="100%">
            </div>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
                <span class="mem-title" fxFlexOffset="5">{{mem.name}}</span>
                <span class="mem-role">{{mem.role}}</span>
                <span></span>
            </mat-card-content>
        </mat-card>
    </div>


    <div></div>
    <div></div>

</section> -->

    <section fxLayout="column" fxLayoutGap="40px" id="section4" fxLayoutAlign="start stretch">
        <span class="bg-text" fxFlexOffset="2" fxLayoutAlign="center center">Facilites</span>
        <div fxLayout="row" fxFlex>
            <span fxFlex=10></span>
            <div class="bg" fxFlex=90 fxLayout="row wrap" fxLayoutGap="50px grid" fxLayoutGap.lt-md="20px grid"
                fxLayoutAlign="start center">
                <div *ngFor="let f of facilites" class="text" fxFlex=45 fxFLex.lt-md=90 fxLayoutAlign="start stretch"
                    fxLayoutAlign.lt-md="start stretch">
                    <span style="border-color: #f27052;
                   border-left: 8px solid red;
                   margin-right: 19px;"></span>
                    <span>{{f}}</span>
                </div>
            </div>
        </div>

    </section>

    <section fxLayout="column" id="section3" fxLayoutAlign="start center" fxLayoutGap="10px">
        <span class="title" fxFlexOffset="2">Gallery</span>
        <div fxLayout="row wrap" class="gallery" fxLayoutGap="20px grid" fxLayoutGap.lt-md="5px grid"
            fxLayoutAlign="center center">
            <div *ngFor="let mem of gallery| slice:0:9;let i=index">
                <div class="img-hover-zoom">
                    <img [src]="mem.img" (click)="openDialog(mem.img)" height="250px" fxHide.lt-md>
                    <img [src]="mem.img" (click)="openDialog(mem.img)" height="100px" fxHide.gt-md>
                </div>
            </div>
        </div>
    </section>

    <section fxLayout="column" fxLayoutGap="20px" id="contact" fxLayoutAlign="start stretch">
        <div fxFlexOffset="5"></div>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxLayoutGap="20px">
            <span fxFlexOffset="10" class="contact" fxFlex=30 fxLayout="column" fxLayoutAlign="start stretch"
                fxLayoutGap="10px">
                <span class="title">Contact Info</span>
                <span>Epic Cricket Academy</span>
                <span>Near Toyoto Showroom</span>
                <span>TechnoPark,Kazhakuttam</span>
                <span>Trivandrum,Kerala</span>
                <span>Mobile: 9061760042/ 8078277600</span>
            </span>
            <span class="title" fxFlex=50 fxLayout="column">
                <span>Location</span>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.4719771255423!2d76.87633581460375!3d8.550530493853643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bfd59ada343f%3A0x11c74379636abc60!2sEpic%20cricket%20academy!5e0!3m2!1sen!2sus!4v1593264377575!5m2!1sen!2sus"
                    width="700" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
            </span>
            <!-- <span class="title" fxFlex=30 fxLayout="column">
                <span>Subscribe</span>
                <span>

                </span>
            </span> -->
        </div>
        <div></div>
        <div>

        </div>
    </section>
</div>